<div class="sidebar-menu">
    <div class="sidebar-header">
        <div class="logo">
            <a href="index.html"><img src="assets/images/icon/logo.png" alt="logo"></a>
        </div>
    </div>
    <div class="main-menu">
        <div class="menu-inner">
            <nav>
                <ul class="metismenu" id="menu">
                    <li class="active">
                        <a href="javascript:void(0)" aria-expanded="true"><i class="ti-dashboard"></i><span>Клиенты</span></a>
                        <ul class="collapse">
                            <li><a href="/clients">Список клиентов</a></li>
                            {{!-- <li><a href="index2.html">Анкеты клиентов</a></li> --}}
                            <li><a href="index3.html">Чёрный список</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0)" aria-expanded="true"><i class="ti-layout-sidebar-left"></i><span>Заявки на кредит</span></a>
                        <ul class="collapse">
                            <li><a href="index.html">Добавить заявку</a></li>
                            <li><a href="index3-horizontalmenu.html">Просмотр заявок</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0)" aria-expanded="true"><i class="ti-pie-chart"></i><span>Решения</span></a>
                        <ul class="collapse">
                            <li><a href="barchart.html">Статус заявки</a></li>
                            <li><a href="linechart.html">Просмотр решений</a></li>
                            <li><a href="piechart.html">pie chart</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0)" aria-expanded="true"><i class="ti-palette"></i><span>Справочники</span></a>
                        <ul class="collapse">
                            <li><a href="accordion.html">Должности</a></li>
                            <li><a href="alert.html">Группы возрастов</a></li>
                            <li><a href="alert.html">Группы возрастов</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>